body{
    margin: 0;   
}
.navbar{
    display: flex;
    justify-content: space-between;  
    align-items: center;             
    padding: 10px 20px;
}
ul{list-style:none;
    display: flex;
    gap:20px;
    margin:0;
    padding:0;
    float:right;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 25px;
}
.social-icons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    font-size: 22px;
}

.social-icons i{
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}


h1 {

    margin:0;
}
.hero{
    padding: 80px 20px;
}

.hero h4{
    color:red;
    margin-bottom: 10px;
}

.hero h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p{
    max-width: 500px;
    margin-bottom: 20px;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
}
.left{
    width: 50%;
     display: flex;
    flex-direction: column;
}
.social-icons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-start; 
}

.right{
    width: 50%;
    text-align: right;
}
.right img{
    width: 300px;   
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px
}


.about-left {
    width: 40%;
}

.about-left img {
    width: 100%;
    border-radius: 10px;
}


.about-right {
    width: 50%;
}

.about-right h2 {
    font-size: 32px;
    margin-bottom: 20px;
    }

.about-right p {
    color: white;
    margin-bottom: 15px;
    line-height: 1.6;
}

.info p {
    margin-bottom: 8px;
}

body {
    background-color: rgb(32, 21, 73);   
    color: white;
}
